<nav>
    <div class="container nav-content">
        <a href="/" style="display: flex; align-items: center; text-decoration: none; color: inherit;">
            <img src="/assets/images/logos/VFA_logo.png" alt="VFA eFootball Logo"
                style="height: 40px; margin-right: 12px; object-fit: contain;">

            <div class="logo">
                VFA <span style="color: var(--vpl-primary)">eFOOTBALL</span>
            </div>
        </a>

        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/matchday">Matchday</a>
            <a href="/teams/">Teams</a>
            <a href="/players">Players</a>
            <a href="/auction">Auction</a>
            <a href="/archive">Stats Center</a>
            <a href="/fantasy/wc26-fantasy">World Cup Fantasy</a>

        </div>
    </div>
</nav>